<nav class="navbar-tab-list">
  <img src="../../../assets/Images/leumi-icon.svg" />
  <button class="navbar-tab">לאומי משכנתה</button>
  <button class="navbar-tab">
    <mat-icon>keyboard_arrow_down</mat-icon>
    <p
      routerLink="my-requests"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      הבקשות שלי
    </p>
    <!-- <p>הבקשות שלי</p> -->
  </button>
  <button class="navbar-tab">
    <mat-icon>keyboard_arrow_down</mat-icon>
    <p
      routerLink="my-suggestions"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      ההצעות שלי
    </p>
    <!-- <p>ההצעות שלי</p> -->
  </button>
  <button class="navbar-tab">
    <mat-icon>keyboard_arrow_down</mat-icon>
    <p>מרכז מידע</p>
  </button>
</nav>
