.secound-nego-page {
    display: flex;
    direction: rtl;
    width: 100%;
    background: #f5f5f5;
  }
  
  .secound-page-content {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 30px 0 127px;
  }

  .secound-page-first-row {
    display: flex;
    margin-bottom: 1%;
  }

  .secound-page-fg {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
  }
  
  .input-warpper {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-left: 40px;
  }
  
  .secound-page-header {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    max-width: 90%;
  }
  
  
  .yes-no-buttons {
    display: flex;
    padding: auto;
    margin-left: 24px;
  }
  
  .yes-no-button {
    margin-left: 17px;
    margin-top: 10px;
    border: 1px solid #757575;
    border-radius: 12px;
    width: 111px;
    height: 42px;
  }
  
  .plus-minus-buttons-warpper {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    
  }
  .plus-minus-buttons {
    border: none;
    background-color: inherit;
  }
  
  .secound-page-secound-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
  }
  
  .form-label {
    width: 100%;
  }
  
  /* .secound-page-third-row {
  } */
  
  .form-plus-minus-buttons-warpper {
    width: 152px;
    height: 60px;
    background: #f5f5f5;
    border: 1px solid #b9b9b9;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .form-dropp-dwon {
    width: 239px;
    height: 42px;
    background: #ffffff;
    border: 1px solid #afafaf;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .forword-button {
    width: 326px;
    height: 50px;
    background: #303030;
    border-radius: 10px;
  }
  
  .backword-button {
    width: 109px;
    height: 50px;
    border: 1px solid #303030;
    border-radius: 10px;
  }
  
  .spinner {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .move-to-buttons {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 2%;
    /* margin-bottom: 32px; */
    width: 76.5%;
  
  }

  .yes-no-buttons-warpper{
      display: flex;
      
  }

  .has-another-deal-warper{
      margin-bottom: 1%;
      display: flex;
      width: 70%;
  }

  .has-another-deal-checkbox-warper{
      display: flex;
      flex-direction: column;
      margin-left: 69px;
  }
  .has-another-deal-checkbox{
      display: flex;
  }


  
  .container {
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    direction: ltr;
  }
  


  